li.messages-bar-chat

    div.messages-bar-chat-avatar
        img(src='/static/avatar.jpg' alt='avatar')

    div.messages-bar-chat-content

        p.messages-bar-chat-name.
            Vasiliy Barukov

        p.messages-bar-chat-message.
            Good day!

    div.messages-bar-chat-info

        div.messages-bar-chat-time
            p.messages-bar-chat-time.
                14:02

        div.messages-bar-chat-notifications-area
            div.messages-bar-chat-notification
                p.messages-bar-chat-notification-count.
                    12
