doctype html

html(lang="ru")

    head
        link(rel="stylesheet", href="/src/styles/style.scss")

    li.user-message
        p.user-message-text.
            Привет!

        div.user-message-time-and-mark
            img(src='/static/icons/message-check-mark.svg' alt='user-message-mark-icon')
            p.user-message-time.
                12:00
