@import "clear";

$main-ui-blue: #3369F3;
$main-ui-black: #1E1E1E;
$main-ui-white: #FFFFFF;
$main-ui-gray: #999999;
$main-ui-background-white: #FBFBFB;
$main-ui-border-gray: #EAEAEA;
$main-ui-user-message-blue-sky: #E4EDFD;
$main-ui-opponent-message-gray: #F8F8F8;
$main-ui-input-background: #EFEFEF;
$main-ui-buttons-red: #FF0000;

.auth_content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 550px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 30px;

    .title {
      margin-top: 10%;
      font-size: 24px;
      line-height: 24px;
      color: $main-ui-black;
    }

    .inputs {
      margin-bottom: 30%;
      min-width: 100%;
      font-size: 10px;
      line-height: 10px;
      color: $main-ui-gray;

      input {
        font-size: 16px;
        line-height: 16px;
        border: none;
        width: 100%;
        outline: none;
        border-bottom: 1.5px solid $main-ui-blue;
      }
    }

    .buttons {
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .authorize {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        background: $main-ui-blue;
        border-radius: 8px;
        border: none;
        font-size: 13px;
        line-height: 13px;
        color: $main-ui-white;
      }

      .register {
        margin-top: 10px;
        font-size: 11px;
        color: $main-ui-blue;
      }
    }
  }
}

.registration_content {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .registration_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 700px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 30px;

    .title {
      margin-top: 10%;
      font-size: 24px;
      line-height: 24px;
      color: $main-ui-black;
    }

    .inputs {
      margin-bottom: 30%;
      min-width: 100%;
      font-size: 10px;
      line-height: 10px;
      color: $main-ui-gray;

      input {
        font-size: 16px;
        line-height: 16px;
        border: none;
        width: 100%;
        outline: none;
        border-bottom: 1.5px solid $main-ui-blue;
      }
    }

    .buttons {
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .authorize {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        background: $main-ui-blue;
        border-radius: 8px;
        border: none;
        font-size: 13px;
        line-height: 13px;
        color: $main-ui-white;
      }

      .auth {
        margin-top: 10px;
        font-size: 11px;
        color: $main-ui-blue;
      }
    }
  }
}

.messenger_content {

  display: flex;
  width: 100%;
  height: 100vh;

  p, input {
    margin: 0;
  }

  .messages-bar {
    min-width: 360px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: $main-ui-background-white;
    border-right: 1px solid $main-ui-border-gray;

    .messages-bar-header {
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .messages-bar-profile-zone {
        min-height: 58px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-width: 90%;

        .messages-bar-header-profile {
          flex: 1;
        }

        .messages-bar-header-title {
          font-size: 12px;
          line-height: 12px;
          text-align: right;
          color: $main-ui-gray;
          text-decoration: none;
        }
      }

      .messages-bar-header-search {
        min-width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 14px;

        input {
          width: 90%;
          background: $main-ui-input-background;
          border-radius: 5px;
          padding: 4px 14px;
          font-size: 12px;
          line-height: 12px;
        }

        input::placeholder {
          text-align: center;
          font-size: 12px;
          line-height: 12px;
          color: $main-ui-gray;
        }
      }
    }

    .messages-bar-content {
      flex: 8;
      align-self: start;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      width: 100%;
      overflow: auto;
      position: sticky;

      .line-between-chats {
        width: 90%;
        border-top: solid 1px $main-ui-border-gray;
      }

      .messages-bar-chat {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        min-height: 80px;
        width: 100%;
        padding: 12px 10px;

        .messages-bar-chat-avatar {
          flex: 2;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;

          img {
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .messages-bar-chat-content {
          flex: 8;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .messages-bar-chat-name {
            font-weight: 600;
            font-size: 13px;
            line-height: 13px;
            color: $main-ui-black;
          }

          .messages-bar-chat-message {
            min-height: 32px;
            line-height: 15px;
            font-size: 12px;
            color: $main-ui-gray;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }

        .messages-bar-chat-info {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;

          .messages-bar-chat-time {
            font-size: 9px;
            line-height: 13px;
            text-align: right;
            color: $main-ui-gray;
          }

          .messages-bar-chat-notifications-area {
            display: flex;
            justify-content: flex-end;

            .messages-bar-chat-notification {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              position: relative; /* If you want text inside of it */
              background: $main-ui-blue;

              .messages-bar-chat-notification-count {
                font-size: 11px;
                line-height: 12px;
                text-align: center;
                color: $main-ui-white;
              }
            }
          }
        }
      }
    }

    .messages-bar-chat:hover {
      background: $main-ui-user-message-blue-sky;
    }
  }

  .messenger-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;
    max-height: 100vh;
    width: 100%;
    overflow: auto;

    .messenger-main-content-select-chat-message {
      font-size: 12px;
      line-height: 12px;
      color: $main-ui-gray;
    }
  }

  .messenger-main-content-chat {
    flex: 5;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 100%;

    .messenger-main-content-chat-head {
      height: 54px;
      width: 100%;
      padding: 10px 20px;
      display: flex;

      .messenger-main-content-chat-head-avatar {
        cursor: pointer;
        margin-right: 10px;

        img {
          min-width: 34px;
          height: 34px;
          border-radius: 50%;
        }
      }

      .messenger-main-content-chat-head-name {
        cursor: pointer;
        display: flex;
        align-items: center;
        text-align: left;
        width: 100%;

        p {
          font-weight: 600;
          font-size: 13px;
          line-height: 13px;
          color: $main-ui-black;
        }
      }

      .messenger-main-content-chat-head-menu {
        display: flex;
        cursor: pointer;

        img {
          min-width: 24px;
        }
      }
    }

    .messenger-main-content-chat-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0 20px;
      border-top: solid 1px $main-ui-border-gray;
      border-bottom: solid 1px $main-ui-border-gray;
      overflow: auto;
      position: sticky;

      .opponent-message {
        position: relative;
        background: $main-ui-opponent-message-gray;
        margin: 10px 0;
        padding: 11px;
        max-width: 40%;
        border-radius: 0 10px 10px 10px;

        .opponent-message-text {
          font-size: 16px;
          line-height: 125%;
          color: $main-ui-black;
        }

        .opponent-message-time {
          position: absolute;
          right: 11px;
          bottom: 11px;
          font-size: 9px;
          line-height: 9px;
          color: $main-ui-gray;
        }
      }

      .user-message {
        align-self: flex-end;
        position: relative;
        background: $main-ui-user-message-blue-sky;
        margin: 10px 0;
        padding: 11px;
        max-width: 40%;
        border-radius: 10px 10px 0 10px;

        .user-message-text {
          font-size: 16px;
          line-height: 125%;
          color: $main-ui-black;
          margin-bottom: 12px;
        }

        .user-message-time-and-mark {
          position: absolute;
          right: 11px;
          bottom: 11px;
          display: flex;

          .user-message-time {


            font-size: 9px;
            line-height: 9px;
            color: $main-ui-blue;
          }
        }
      }
    }

    .messenger-main-content-chat-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 54px;
      max-height: 20%;
      width: 100%;
      padding: 0 20px;

      .messenger-main-content-chat-input-clip {
        min-width: 32px;
      }

      .messenger-main-content-chat-input-grow-wrap {
        display: grid;
        width: 100%;
        height: 32px;
        margin: 0 10px;

        .messenger-main-content-chat-input-text {
          width: 100%;
          background: $main-ui-input-background;
          border-radius: 30px;
          padding: 10px 20px;
          font-size: 12px;
          line-height: 14px;
          color: $main-ui-gray;
          overflow: hidden;
          resize: none;
          grid-area: 1 / 1 / 2 / 2;

        }
      }

      .messenger-main-content-chat-input-grow-wrap:after {
        /* Note the weird space! Needed to preventy jumpy behavior */
        content: attr(data-replicated-value) " ";
        /* This is how textarea text behaves */
        white-space: pre-wrap;
        /* Hidden from view, clicks, and screen readers */
        visibility: hidden;
        grid-area: 1 / 1 / 2 / 2;

      }

      .messenger-main-content-chat-input-send {
        min-width: 28px;
      }
    }
  }
}

.user-profile_content {
  display: flex;

  .user-profile-back {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $main-ui-background-white;
    width: 64px;
    border-right: solid 1px $main-ui-border-gray;

  }

  .user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .user-profile-window {
      width: 30%;
      min-width: 500px;


      .user-profile-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .user-profile-avatar {
          cursor: pointer;
          width: 130px;
          height: 130px;
          border-radius: 50%;
          background-image: url("../../static/avatar.jpg");
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: rgba(0 0 0 / .5);
            opacity: 0.5;

            .user-profile-change-avatar {
              opacity: 1;
            }
          }

          .user-profile-change-avatar {
            font-size: 13px;
            line-height: 14px;
            text-align: center;
            color: $main-ui-white;
            opacity: 0;
            //transition: opacity ease-in .2s;
          }
        }

        .user-profile-info-name {
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          color: $main-ui-black;
        }
      }

      .user-profile-main-info {
        margin-top: 44px;

        .user-info-field {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: solid 1px $main-ui-border-gray;

          .user-info-field-key {
            font-size: 13px;
            line-height: 13px;
            color: $main-ui-black;
          }

          .user-info-field-value {
            font-size: 13px;
            line-height: 13px;
            text-align: right;
            color: $main-ui-gray;
          }
        }

        .user-info-field:last-child {
          border-bottom: none;
        }
      }

      .user-profile-change-buttons {
        margin-top: 60px;

        .user-profile-change-buttons-field {
          font-size: 13px;
          line-height: 13px;
          color: $main-ui-blue;
          border-bottom: solid 1px $main-ui-border-gray;

          a {
            cursor: pointer;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
          }


        }

        .user-profile-change-buttons-field:last-child {
          color: $main-ui-buttons-red;
          border: none;

        }
      }
    }

  }

}

.modal-root{
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0 0 0 / .5);
  //opacity: 0.5;

  .file-picker{
    width: 340px;
    height: 260px;
    background-color: $main-ui-white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    z-index: 110;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .file-picker-title{
      font-size: 15px;
      line-height: 20px;
      color: $main-ui-black;
    }

    .file-picker-pick{
      cursor: pointer;
      text-align: center;
      font-size: 12px;
      line-height: 16px;
      text-decoration-line: underline;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      color: $main-ui-blue;
    }

    .file-picker-pick-submit{
      cursor: pointer;
      width: 280px;
      height: 40px;
      background: $main-ui-blue;
      border-radius: 8px;
      opacity: 1;
      color: $main-ui-white;
      font-size: 13px;
      line-height: 13px;
    }
  }

  .user-action{
    width: 340px;
    height: 260px;
    background-color: $main-ui-white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    z-index: 110;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .user-action-title{
        font-size: 15px;
        line-height: 20px;
        color: $main-ui-black;
      }

    .user-action-login-title{
      font-size: 9px;
      line-height: 9px;
      color: $main-ui-gray;
    }

    input{
      font-size: 16px;
      line-height: 16px;
      border: none;
      width: 100%;
      outline: none;
      border-bottom: 1.5px solid $main-ui-blue;
    }

    .user-action-submit{
        cursor: pointer;
        width: 280px;
        height: 40px;
        background: $main-ui-blue;
        border-radius: 8px;
        opacity: 1;
        color: $main-ui-white;
        font-size: 13px;
        line-height: 13px;
      }

  }

}

.error-root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .error-root-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    .error-code{
      font-size: 40px;
      line-height: 40px;
      color: $main-ui-black;
      margin: 20px 0;
    }

    .error-text{
      font-size: 20px;
      line-height: 20px;
      color: $main-ui-black;
    }
  }


  .error-back-to-chats{
    cursor: pointer;
    font-size: 11px;
    line-height: 11px;
    color: $main-ui-blue;
    margin-top: 70px;
  }
}

.navigation-root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .navigation-links{
    display: flex;
    flex-direction: column;
    padding: 2em;

    background-color: $main-ui-white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;

    .navigation-link{
      cursor: pointer;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      border-bottom: solid 1px $main-ui-border-gray;

      .navigation-link-name{
        color: #3369f3;
        text-decoration: none;
      }
    }

  }
}
