head
    link(rel="stylesheet", href="/src/styles/style.scss")
    meta(name="viewport', content='width=device-width, initial-scale=0.5")

main.modal-root

    form.file-picker(role='form' method='POST' action='https://www.google.ru/')

        p.file-picker-title.
            Загрузите файл

        a.file-picker-pick
            | Выбрать файл на
            br
            | компьютере

        button.file-picker-pick-submit.
            Поменять
