head
    link(rel="stylesheet", href="/src/styles/style.scss")

main.modal-root

    form.user-action(role='form' method='POST' action='https://www.google.ru/')

        p.user-action-title.
            Добавить пользователя

        div.inputs
            p.user-action-login-title.
                Логин
            input.login#login.form-control(type='text', name='login', required)

        button.user-action-submit.
            Добавить
