head
    link(rel="stylesheet", href="styles/style.scss")
div.modal-root
    form.file-picker(role='form' method='POST' action='https://www.google.ru/')
        p.file-picker-title.
            Загрузите файл
        a.file-picker-pick
            | Выбрать файл на
            br
            | компьютере
        button.file-picker-pick-submit.
            Поменять

