doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="style.scss")
    div.registration_content
        form.registration_form(role='form' method='POST' action='https://google.ru/')

            div.title
                p.title.
                    Регистрация

            div.inputs
                p.
                    Почта
                input.email#email.form-control(type='email', name='email', required)
                p.
                    Логин
                input.login#login.form-control(type='text', name='login', required)
                p.
                    Имя
                input.login#name.form-control(type='text', name='name', required)
                p.
                    Фамилия
                input.login#surname.form-control(type='text', name='surname', required)
                p.
                    Телефон
                input.login#number.form-control(type='text', name='number', required)
                p.
                    Пароль
                input.pass#password.form-control(type='password', name='password', required)
                p.
                    Подтверждение пароля
                input.pass#confirm_password.form-control(type='password', name='confirm_password', required)

            div.buttons
                button.authorize(type="submit")
                    p.
                        Авторизоваться
                a.register.
                    Нет аккаунта?