@import "clear";

.auth_content {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 550px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 30px;

    .title {
      margin-top: 10%;
      font-size: 24px;
      line-height: 24px;
      color: #1E1E1E;
    }

    .inputs {
      margin-bottom: 30%;
      min-width: 100%;
      font-size: 10px;
      line-height: 10px;
      color: #999999;

      input {
        font-size: 16px;
        line-height: 16px;
        border: none;
        width: 100%;
        outline: none;
        border-bottom: 1.5px solid #3369F3;
      }
    }

    .buttons {
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .authorize {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        background: #3369F3;
        border-radius: 8px;
        border: none;
        font-size: 13px;
        line-height: 13px;
        color: #FFFFFF;
      }

      .register {
        margin-top: 10px;
        font-size: 11px;
        color: #3369F3;
      }
    }
  }
}

.registration_content {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .registration_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 700px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 30px;

    .title {
      margin-top: 10%;
      font-size: 24px;
      line-height: 24px;
      color: #1E1E1E;
    }

    .inputs {
      margin-bottom: 30%;
      min-width: 100%;
      font-size: 10px;
      line-height: 10px;
      color: #999999;

      input {
        font-size: 16px;
        line-height: 16px;
        border: none;
        width: 100%;
        outline: none;
        border-bottom: 1.5px solid #3369F3;
      }
    }

    .buttons {
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .authorize {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        background: #3369F3;
        border-radius: 8px;
        border: none;
        font-size: 13px;
        line-height: 13px;
        color: #FFFFFF;
      }

      .auth {
        margin-top: 10px;
        font-size: 11px;
        color: #3369F3;
      }
    }
  }
}

.messenger_content{

  display: flex;
  width: 100%;
  height: 100vh;

  p, input{
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    margin: 0;
  }

  .messages-bar{
    min-width: 360px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #FBFBFB;
    border-right: 1px solid #EAEAEA;

    .messages-bar-header{
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .messages-bar-profile-zone{
        min-height: 58px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-width: 90%;

        .messages-bar-header-profile{
          flex: 1;
        }

        .messages-bar-header-title {
          font-size: 12px;
          line-height: 12px;
          text-align: right;
          color: #999999;
        }
      }

      .messages-bar-header-search{
        min-width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 14px;

        input{
          width: 90%;
          background: #EFEFEF;
          border-radius: 5px;
          padding: 4px 14px;
          font-size: 12px;
          line-height: 12px;
        }
        input::placeholder{
          text-align: center;
          font-size: 12px;
          line-height: 12px;
          color: #999999;
        }
      }
    }
    .messages-bar-content{
      flex: 8;
      align-self: start;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      width: 100%;
      overflow: auto;
      position: sticky;

      .line-between-chats{
        width: 90%;
        border-top: solid 1px #EAEAEA;
      }

      .messages-bar-chat{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        min-height: 80px;
        width: 100%;
        padding: 12px 10px;

        .messages-bar-chat-avatar{
          flex: 2;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;

          img{
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .messages-bar-chat-content{
          flex: 8;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .messages-bar-chat-name{
            font-weight: 600;
            font-size: 13px;
            line-height: 13px;
            color: #1E1E1E;
          }

          .messages-bar-chat-message{
            min-height: 32px;
            line-height: 15px;
            font-size: 12px;
            color: #999999;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }

        .messages-bar-chat-info{
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;

          .messages-bar-chat-time{
            font-size: 9px;
            line-height: 13px;
            text-align: right;
            color: #999999;
          }

          .messages-bar-chat-notifications-area{
            display: flex;
            justify-content: flex-end;
            .messages-bar-chat-notification {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              position: relative; /* If you want text inside of it */
              background: #3369F3;

              .messages-bar-chat-notification-count {
                font-size: 11px;
                line-height: 12px;
                text-align: center;
                color: #FFFFFF;
              }
            }
          }
        }
      }
    }

    .messages-bar-chat:hover{
      background: #E4EDFD;
    }
  }

  .messenger-main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;
    max-height: 100vh;
    width: 100%;
    overflow: auto;

    .messenger-main-content-select-chat-message{
      font-size: 12px;
      line-height: 12px;
      color: #999999;
    }
  }
  .messenger-main-content-chat{
    flex: 5;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 100%;

    .messenger-main-content-chat-head{
      height: 54px;
      width: 100%;
      padding: 10px 20px;
      display: flex;

      .messenger-main-content-chat-head-avatar{
        cursor: pointer;
        margin-right: 10px;

        img{
          min-width: 34px;
          height: 34px;
          border-radius: 50%;
        }
      }

      .messenger-main-content-chat-head-name{
        cursor: pointer;
        display: flex;
        align-items: center;
        text-align: left;
        width: 100%;

        p{
          font-weight: 600;
          font-size: 13px;
          line-height: 13px;
          color: #1E1E1E;
        }
      }

      .messenger-main-content-chat-head-menu{
        display: flex;
        cursor: pointer;

        img{
          min-width: 24px;
        }
      }
    }

    .messenger-main-content-chat-content{
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0 20px;
      border-top: solid 1px #EAEAEA;
      border-bottom: solid 1px #EAEAEA;
      overflow: auto;
      position: sticky;

      .opponent-message{
        position: relative;
        background: #F8F8F8;
        margin: 10px 0;
        padding: 11px;
        max-width: 40%;
        border-radius: 0 10px 10px 10px;

        .opponent-message-text{
          font-size: 16px;
          line-height: 125%;
          color: #1E1E1E;
        }

        .opponent-message-time{
          position: absolute;
          right: 11px;
          bottom: 11px;
          font-size: 9px;
          line-height: 9px;
          color: #999999;
        }
      }

      .user-message{
        align-self: flex-end;
        position: relative;
        background: #E4EDFD;
        margin: 10px 0;
        padding: 11px;
        max-width: 40%;
        border-radius: 10px 10px 0 10px;

        .user-message-text{
          font-size: 16px;
          line-height: 125%;
          color: #1E1E1E;
          margin-bottom: 12px;
        }

        .user-message-time-and-mark{
          position: absolute;
          right: 11px;
          bottom: 11px;
          display: flex;

          .user-message-time{


            font-size: 9px;
            line-height: 9px;
            color: #3369F3;
          }
        }
      }
    }

    .messenger-main-content-chat-input{
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 54px;
      max-height: 20%;
      width: 100%;
      padding: 0 20px;

      .messenger-main-content-chat-input-clip{
        min-width: 32px;
      }

      .messenger-main-content-chat-input-grow-wrap{
        display: grid;
        width: 100%;
        height: 32px;
        margin: 0 10px;

        .messenger-main-content-chat-input-text{
          width: 100%;
          background: #EFEFEF;
          border-radius: 30px;
          padding: 10px 20px;
          font-size: 12px;
          line-height: 14px;
          color: #999999;
          overflow: hidden;
          resize: none;
          grid-area: 1 / 1 / 2 / 2;

        }
      }

      .messenger-main-content-chat-input-grow-wrap:after{
        /* Note the weird space! Needed to preventy jumpy behavior */
        content: attr(data-replicated-value) " ";
        /* This is how textarea text behaves */
        white-space: pre-wrap;
        /* Hidden from view, clicks, and screen readers */
        visibility: hidden;
        grid-area: 1 / 1 / 2 / 2;

      }

      .messenger-main-content-chat-input-send{
        min-width: 28px;
      }
    }
  }
}
